parameters:
    checkExplicitMixedMissingReturn: true
    checkPhpDocMissingReturn: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#has no value type specified in iterable type Magento\\Review\\Model\\ResourceModel\\Rating\\Option\\Vote\\Collection.#'
